.wrong{
	background-color: #EFB6B6 !important;
}


.wiggy{
	display: block;
	width: 100%;
	padding: 7px;
	transition:0.5s;
	box-sizing:border-box;
	outline:none;
	border: none;
	margin-bottom: 10px;
	font-size: 20px;
}
.wiggy.button{
	cursor: pointer;
	text-align: center;
}
.wiggy.love-with-left{
	margin-left:-4px;
}
.wiggy.border{
	border: 1px solid white;
	color: white;
	padding: 6px;
	background-color:transparent;
}
.wiggy.border:hover{
	background-color: rgba(255, 255, 255, 0.3);
}
.wiggy.border.active-x{
	background-color: rgba(255, 255, 255, 0.3);
}
.wiggy.button.blue{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#237fa1+0,264e6b+100 */
	background-color: #00aeef;
	border-bottom: 5px solid #0078a4;

	color:white;
	text-transform: uppercase;
	border-radius: 5px;
	padding: 10px;
	transition:0.5s;
	font-size: 20px;
}
.wiggy.button.blue span.text{
    text-shadow: 1px 2px 3px #00AEEF, 0px 0px 0px #000000, 0px 0px 2px #000000;
}
.wiggy.button.blue:hover{
	background-color: #2EC3FB;
    border-bottom: 5px solid #1981A7;
}
.wiggy.button.blue:active{
	background-color: #0094CC;
    border-bottom: 5px solid #004A65;
}
textarea.wiggy{
	outline:none;
	width:100%;
	height:100%; 
}


.contacts{
	position: absolute;
	border:1px solid white;
	background-color:rgba(0, 0, 0, 0.7);
	padding:7px;
	color:white;
}

.wiggy.button.white{
	color: white;
}
.wiggy.white{
	position: relative;
	background-color: white;
	color:black;
	border-radius: 3px;
}