
<span class="theme-setting"> <i></i> </span>
<div id="styleSwitcher">

	<div class="panel-heading yellow-brder">
		<h2 class="heading center">Settings &amp; Options</h2>
	</div>
	<div id="layout" class="theme_panel_inner btm-brder">
		<div class="theme-heading">
			<h3 class="heading">LAYOUT</h3>
			<i class="fa fa-plus"></i>
		</div>
		<div class="theme_panel_option">
			<div class="layout-style">
				<a href="javascript:;">
				<div id="full-width" class="layout-column radio-active" data-layout="fullWidth">
					<span class="column-text">Full-width</span>
					<i id="width-style" class="radio"></i>

				</div> </a>
				<a href="javascript:void(0)">
				<div id="boxed" class="layout-column" data-layout="boxed">
					<span class="column-text">boxed</span>
					<i id="box-style" class="radio"></i>

				</div></a>
			</div>
			<div class="note">
				<strong><i class="fa fa-check note-point"></i> Note:</strong>
				<p>
					Website is responsive &amp; fluid as well, so it works best on every screen size.
				</p>
			</div>
		</div>
	</div>

	<div id="color" class="theme_panel_inner btm-brder">
		<div class="theme-heading ">
			<h3 class="heading">COLORS</h3>
			<i class="fa fa-plus"></i>
		</div>
		<div class="theme_panel_option">
			<ul class="swatches">

			</ul>

			<div class="note">
				<strong><i class="fa fa-check note-point"></i> Note:</strong>
				<p>
					We have coded it in LESS, colors shown here are just for best view. You can change it to any color of your choice.
				</p>
			</div>
		</div>

	</div>
	<div id="fonts" class="theme_panel_inner btm-brder">
		<div class="theme-heading ">
			<h3 class="heading">FONTS</h3>
			<i class="fa fa-plus"></i>
		</div>
		<div class="theme_panel_option">
			<select class="select-font">

			</select>
		</div>

	</div>

	<div id="sticky" class="theme_panel_inner btm-brder">
		<div class="theme-heading">
			<h3 class="heading">STICKY HEADER</h3>
			<i class="fa fa-plus"></i>
		</div>
		<div class="theme_panel_option">
			<div class="layout-style">
				<a href="javascript:void(0)">
				<div id="sticky-normal" class="layout-column radio-active" rel="normal">
					<span class="column-text">NORMAL</span>
					<i id="width-style" class="radio"></i>

				</div> </a>
				<a href="javascript:void(0)">
				<div id="sticky-fix" class="layout-column" rel="fix">
					<span class="column-text">Fixed</span>
					<i id="box-style-fix" class="radio"></i>

				</div></a>
				<a href="javascript:void(0)">
				<div id="sticky-intelligent" class="layout-column" rel="intelligent">
					<span class="column-text">intelligent</span>
					<i id="box-style" class="radio"></i>

				</div></a>
			</div>
			<div class="note">
				<strong><i class="fa fa-check note-point"></i> Note:</strong>
				<p>
					We made an intelligent sticky header. Click intelligent to see it working. 
				</p>
			</div>
		</div>
	</div>
    
    	

	<div id="header-style" class="theme_panel_inner btm-brder ">
		<div class="theme-heading">
			<h3 class="heading">HEADER STYLE</h3>
			<i class="fa fa-plus"></i>
		</div>
		<div class="theme_panel_option">
			<div class="header-group">

				<div class="header-items-slider">
					<div class="header-items" rel="">
						<img src="assets/js/theme-option/style-switcher/assets/images/header-9.jpg" class="visable">
						<img src="assets/js/theme-option/style-switcher/assets/images/header-9.jpg" class="disable">
						<span class="select-box"><i class="fa fa-check marked"></i></span>
					</div>
					<div class="header-items" rel="center-aligned">
						<img src="assets/js/theme-option/style-switcher/assets/images/header-2.jpg" class="visable">
						<img src="assets/js/theme-option/style-switcher/assets/images/header-2.jpg" class="disable">
						<span class="select-box"><i class="fa fa-check marked"></i></span>
					</div>

				</div>

				<div class="header-items-slider">
					<div class="header-items" rel="headerStyle-3">
						<img src="assets/js/theme-option/style-switcher/assets/images/header-3.jpg" class="visable">
						<img src="assets/js/theme-option/style-switcher/assets/images/header-3.jpg" class="disable">
						<span class="select-box"><i class="fa fa-check marked"></i></span>
					</div>
					<div class="header-items" rel="headerStyle-4">
						<img src="assets/js/theme-option/style-switcher/assets/images/header-4.jpg" class="visable">
						<img src="assets/js/theme-option/style-switcher/assets/images/header-4.jpg" class="disable">
						<span class="select-box"><i class="fa fa-check marked"></i></span>
					</div>
				</div>

				<div class="header-items-slider">
					<div class="header-items" rel="headerStyle-5">
						<img src="assets/js/theme-option/style-switcher/assets/images/header-5.jpg" class="visable">
						<img src="assets/js/theme-option/style-switcher/assets/images/header-5.jpg" class="disable">
						<span class="select-box"><i class="fa fa-check marked"></i></span>
					</div>
					<div class="header-items" rel="headerStyle-6">
						<img src="assets/js/theme-option/style-switcher/assets/images/header-6.jpg" class="visable">
						<img src="assets/js/theme-option/style-switcher/assets/images/header-6.jpg" class="disable">
						<span class="select-box"><i class="fa fa-check marked"></i></span>
					</div>
				</div>

				<div class="header-items-slider">
					<div class="header-items" rel="headerStyle-7">
						<img src="assets/js/theme-option/style-switcher/assets/images/header-7.jpg" class="visable">
						<img src="assets/js/theme-option/style-switcher/assets/images/header-7.jpg" class="disable">
						<span class="select-box"><i class="fa fa-check marked"></i></span>
					</div>

					<div class="header-items" rel="headerStyle-8">
						<img src="assets/js/theme-option/style-switcher/assets/images/header-8.jpg" class="visable">
						<img src="assets/js/theme-option/style-switcher/assets/images/header-8.jpg" class="disable">
						<span class="select-box"><i class="fa fa-check marked"></i></span>
					</div>
				</div>

				<div class="header-items-slider">
					<div class="header-items" rel="headerStyle-9">
						<img src="assets/js/theme-option/style-switcher/assets/images/header-9.jpg" class="visable">
						<img src="assets/js/theme-option/style-switcher/assets/images/header-9.jpg" class="disable">
						<span class="select-box"><i class="fa fa-check marked"></i></span>
					</div>
					<div class="header-items" rel="headerStyle-10">
						<img src="assets/js/theme-option/style-switcher/assets/images/header-10.jpg" class="visable">
						<img src="assets/js/theme-option/style-switcher/assets/images/header-10.jpg" class="disable">
						<span class="select-box"><i class="fa fa-check marked"></i></span>
					</div>
				</div>

				<div class="header-items-slider">
					<div class="header-items" rel="headerStyle-11">
						<img src="assets/js/theme-option/style-switcher/assets/images/header-11.jpg" class="visable">
						<img src="assets/js/theme-option/style-switcher/assets/images/header-11.jpg" class="disable">
						<span class="select-box"><i class="fa fa-check marked"></i></span>
					</div>
					<div class="header-items" rel="headerStyle-12">
						<img src="assets/js/theme-option/style-switcher/assets/images/header-12.jpg" class="visable">
						<img src="assets/js/theme-option/style-switcher/assets/images/header-12.jpg" class="disable">
						<span class="select-box"><i class="fa fa-check marked"></i></span>
					</div>
				</div>
				<div class="header-items-slider">
					<div class="header-items" rel="headerStyle-13">
						<img src="assets/js/theme-option/style-switcher/assets/images/header-13.jpg" class="visable">
						<img src="assets/js/theme-option/style-switcher/assets/images/header-13.jpg" class="disable">
						<span class="select-box"><i class="fa fa-check marked"></i></span>
					</div>

				</div>

			</div>

			<ul class="theme-pager">
				<li>
					<a href="javascript:void(0)"></a>
				</li>
				<li>
					<a href="javascript:void(0)"></a>
				</li>
				<li>
					<a href="javascript:void(0)"></a>
				</li>
				<li>
					<a href="javascript:void(0)"></a>
				</li>
				<li>
					<a href="javascript:void(0)"></a>
				</li>
				<li>
					<a href="javascript:void(0)"></a>
				</li>
				<li>
					<a href="javascript:void(0)"></a>
				</li>
			</ul>

			<div class="note">
				<strong><i class="fa fa-check note-point"></i> Note:</strong>
				<p>
					Header styles shown here are just for an idea of customisation &amp; its possibilities. You can edit these headers to make your own one.
				</p>
			</div>
		</div>

	</div>

	<!--<div id="theme_effect" class="theme_panel_inner btm-brder">
		<div class="theme-heading">
			<h3 class="heading">EFFECT</h3>
			<i class="fa fa-plus"></i>
		</div>
		<div class="theme_panel_option">
			<div class="layout-style">
				<a href="javascript:void(0)">
				<div id="theme-translate" class="layout-column radio-active" rel="no" >
					<span class="column-text">Normal</span>
					<i id="width-style" class="radio"></i>

				</div> </a>

				<a href="javascript:void(0)">
				<div id="theme-transition" class="layout-column" rel="yes">
					<span class="column-text">Transition</span>
					<i id="width-style" class="radio"></i>

				</div> </a>

			</div>
			<div class="note">
				<strong><i class="fa fa-check note-point"></i> Note:</strong>
				<p>
					We made an Transition effect . Click Transition to see it working.
				</p>
			</div>
		</div>
	</div>-->

	<div id="allpages" class="theme_panel_inner btm-brder">
		<div class="theme-heading">
			<h3 class="heading">All pages</h3>
			<i class="fa fa-plus"></i>
		</div>
		<div class="theme_panel_option fix-scroll">
			<div class="page-group">
				<ul>
																		<li>
																			<a href="../Corporate/index.html" data-background="../assets/img/corporate.png"  >Corporate</a>
																		</li>
																		<li>
																			<a href="../Education/education.html" data-background="../assets/img/education.png">Education</a>
																		</li>
																		<li>
																			<a href="../Wedding/wedding.html" data-background="../assets/img/wedding.png"> Wedding</a>
																		</li>
																		<li>
																			<a href="../FoodDelivery/food-delivery.html" data-background="../assets/img/food-deliver.png">Food Delivery</a>
																		</li>
																		<li>
																			<a href="../Medical/medical.html"  data-background="../assets/img/medical.png">Medical</a>
																		</li>
																		<li>
																			<a href="../church/church.html" data-background="../assets/img/church.png">Church</a>
																		</li>

																		<li>
																			<a href="../Logistics/logistic.html" data-background="../assets/img/logistic.png">Logistic</a>
																		</li>

																		<li>
																			<a href="../Restaurant/restaurant.html" data-background="../assets/img/resturant.png"> restaurant</a>
																		</li>

																		<li>
																			<a href="../taxi/taxi.html" data-background="../assets/img/taxi.png"> Taxi </a>
																		</li>

																		<li>
																			<a href="../Lawyers/lawyer.html" data-background="../assets/img/lawyer.png">Lawyer</a>
																		</li>
																		<li>
																			<a href="../Realestate/real-estate.html" data-background="../assets/img/real-estate.png">Real Estate</a>
																		</li>
                                                                        <li>
																			<a href="../Mechanic/mechanic.html" data-background="../assets/img/mechanic.png">Mechanic</a>
																		</li>
																		<li>
																			<a href="../Hotel/hotel.html" data-background="../assets/img/hotel.png">Hotel</a>
																		</li>

																		<li>
																			<a href="../beauty.html" data-background="../assets/img/beauty.png">Beauty</a>
																		</li>
																		<li>
																			<a href="../Beauty/sport-team.html" data-background="../assets/img/sports.png">Sport Team</a>
																		</li>
																		<li>
																			<a href="../MusicBand/music-band.html" data-background="../assets/img/music.png">Music Band</a>
																		</li>
																		<li>
																			<a href="../Cooking/cooking.html" data-background="../assets/img/cooking.png">Cooking</a>
																		</li>

																		<li>
																			<a href="../AutoDealer/autodealer.html" data-background="../assets/img/auto-dealer.png"> AutoDealer </a>
																		</li>

																		<li>
																			<a href="../eCommerce/ecommerce.html" data-background="../assets/img/e-commerce.png"> Ecommerce </a>
																		</li>
																		<li>
																			<a href="../Petshop/petshop.html" data-background="../assets/img/pet-shop.png"> Pet Shop </a>
																		</li>
																		<li>
																			<a href="../Blog/blog.html" data-background="../assets/img/blog.png"> Blog </a>
																		</li>
																		<li>
																			<a href="../Portfolio/portfolio-1.html" data-background="../assets/img/portfolio.png"> Portfolio </a>
																		</li>
                                                                        <li>
													<a href="../features.html">Features</a>
												</li>				
                                                <li>
																<a href="../header-1.html">header-1</a>
															</li>
															<li>
																<a href="../header-2.html">header-2</a>
															</li>
															
                                                            <li>
																<a href="../shortcode-1.html">shortcode-1</a>
															</li>
															<li>
																<a href="../shortcode-2.html">shortcode-2</a>
															</li>
															<li>
																<a href="../shortcode-3.html">shortcode-3</a>
															</li>
                                                            <li>
																			<a href="../about.html">about</a>
																		</li>
																		<li>
																			<a href="../career.html">career</a>
																		</li>
																		<li>
																			<a href="../coming-soon.html">coming-soon</a>
																		</li>
																		<li>
																			<a href="../contact.html">contact</a>
																		</li>
																		<li>
																			<a href="../help-center.html">help-center</a>
																		</li>
																		<li>
																			<a href="../how-it-works.html">how-it-works</a>
																		</li>
																		<li>
																			<a href="../job-detail-1.html">job-detail-1</a>
																		</li>
																		<li>
																			<a href="../job-detail-2.html">job-detail-2</a>
																		</li>
                                                                        <li>
																			<a href="../job-detail-3.html">job-detail-3</a>
																		</li>
																		<li>
																			<a href="../job-detail-4.html">job-detail-4</a>
																		</li>
																		<li>
																			<a href="../job-detail-5.html">job-detail-5</a>
																		</li>
																		<li>
																			<a href="../loop-contents.html">loop-contents</a>
																		</li>
																		<li>
																			<a href="../menu.html">menu</a>
																		</li>
																		<li>
																			<a href="../forums.html">forums</a>
																		</li>
																		<li>
																			<a href="../our-teams.html">our-teams</a>
																		</li>
																		<li>
																			<a href="../press.html">press</a>
																		</li>
                                                                         <li>
																			<a href="../pricing.html">pricing</a>
																		</li>
																		<li>
																			<a href="../404-error.html">404-error</a>
																		</li>
																		<li>
																			<a href="../church/church-one.html">Church One</a>
																		</li>
																		<li>
																			<a href="../FoodDelivery/food-delivery-two.html" >Food Delivery Two</a>
																		</li>
																		<li>
																			<a href="../FoodDelivery/food-delivery-three.html">Food Delivery Three</a>
																		</li>
																		<li>
																			<a href="../Medical/medical-two.html">Medical Two</a>
																		</li>
																		<li>
																			<a href="../Medical/medical-three.html">Medical Three</a>
																		</li>
																		<li>
																			<a href="../Realestate/real-estate-two.html">Real Estate Two</a>
																		</li>
                                                                        <li>
																			<a href="../Logistics/logistic-two.html">Logistic Two</a>
																		</li>
																		<li>
																			<a href="../taxi/taxi-two.html"> Taxi Two </a>
																		</li>
																		<li>
																			<a href="../Hotel/hotel-two.html" >Hotel Two</a>
																		</li>
																		<li>
																			<a href="../Hotel/hotel-three.html">Hotel Three</a>
																		</li>
																		<li>
																			<a href="../AutoDealer/autodealer-two.html" > AutoDealer Two </a>
																		</li>
																		<li>
																			<a href="../AutoDealer/autodealer-three.html"> AutoDealer Three </a>
																		</li>
																		<li>
																			<a href="../Portfolio/portfolio-2.html"> Portfolio Two </a>
																		</li>
																		
																		<li>
																			<a href="../Cooking/cooking-two.html">Cooking Two</a>
																		</li>
                                                                        <li>
																			<a href="../blog-1.html">blog-1</a>
																		</li>
																		<li>
																			<a href="../blog-2.html">blog-2</a>
																		</li>
																		<li>
																			<a href="../blog-3.html">blog-3</a>
																		</li>
																		<li>
																			<a href="../blog-4.html">blog-4</a>
																		</li>
																		<li>
																			<a href="../blog-5.html">blog-5</a>
																		</li>
                                                                        <li>
																			<a href="../blog-6.html">blog-6</a>
																		</li>
																		<li>
																			<a href="../blog-7.html">blog-7</a>
																		</li>
																		<li>
																			<a href="../blog-8.html">blog-8</a>
																		</li>
																		<li>
																			<a href="../blog-9.html">blog-9</a>
																		</li>
																		<li>
																			<a href="../blog-10.html">blog-10</a>
																		</li>
                                                                        <li>
																			<a href="../blog-11.html">blog-11</a>
																		</li>
																		<li>
																			<a href="../blog-12.html">blog-12</a>
																		</li>
																		<li>
																			<a href="../blog-13.html">blog-13</a>
																		</li>
																		<li>
																			<a href="../blog-14.html">blog-14</a>
																		</li>
																		<li>
																			<a href="../blog-15.html">blog-15</a>
																		</li>
                                                                        <li>
																			<a href="../blog-post-1.html">blog-post-1</a>
																		</li>
																		<li>
																			<a href="../blog-post-2.html">blog-post-2</a>
																		</li>
																		<li>
																			<a href="../blog-post-3.html">blog-post-3</a>
																		</li>
																		<li>
																			<a href="../blog-post-4.html">blog-post-4</a>
																		</li>
																		<li>
																			<a href="../blog-post-5.html">blog-post-5</a>
																		</li>
                                                                        <li>
																			<a href="../gallery-1.html">gallery-1</a>
																		</li>
																		<li>
																			<a href="../gallery-2.html">gallery-2</a>
																		</li>
																		<li>
																			<a href="../gallery-3.html">gallery-3</a>
																		</li>
																		<li>
																			<a href="../gallery-4.html">gallery-4</a>
																		</li>
																		<li>
																			<a href="../gallery-5.html">gallery-5</a>
																		</li>
                                                                        <li>
																			<a href="../gallery-6.html">gallery-6</a>
																		</li>
																		<li>
																			<a href="../gallery-7.html">gallery-7</a>
																		</li>
																		<li>
																			<a href="../gallery-8.html">gallery-8</a>
																		</li>
																		<li>
																			<a href="../gallery-9.html">gallery-9</a>
																		</li>
																		<li>
																			<a href="../gallery-10.html">gallery-10</a>
																		</li>
                                                                        <li>
																			<a href="../gallery-11.html">gallery-11</a>
																		</li>
																		<li>
																			<a href="../gallery-12.html">gallery-12</a>
																		</li>
																		<li>
																			<a href="../gallery-13.html">gallery-13</a>
																		</li>
																		<li>
																			<a href="../gallery-14.html">gallery-14</a>
																		</li>
																		<li>
																			<a href="../gallery-15.html">gallery-15</a>
																		</li>
                                                                        <li>
																			<a href="../gallery-16.html">gallery-16</a>
																		</li>
																		<li>
																			<a href="../gallery-17.html">gallery-17</a>
																		</li>
																		<li>
																			<a href="../gallery-18.html">gallery-18</a>
																		</li>
																		<li>
																			<a href="../gallery-19.html">gallery-19</a>
																		</li>
																		<li>
																			<a href="../gallery-20.html">gallery-20</a>
																		</li>
                                                                        <li>
																<a href="../cart.html">cart.html</a>
															</li>
															<li>
																<a href="../catalog.html">catalog.html</a>
															</li>
															<li>
																<a href="../shopping-product.html">shopping-product.html</a>
															</li>

																	</ul>
			</div>
		</div>
	</div>

</div>

