.img{
	width:200px;
	height:200px;
}
.checkboxes{
	display: inline-block;
	border: 1px solid #707070;
	padding: 7px;
}
.spec .del{
	text-decoration: underline;
	cursor: pointer;
}
.btn{
	background-color: silver;
	padding:5px;
	color:white;
	cursor: pointer;
	display: inline-block;
}
textarea{
	width:400px;
	height:100px;
}
#busy{
	color:red;
}
#busy.free{
	color:green;
}