.fluid{
	position: fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 100;
}
.fluid .center{
	position: fixed;
	left:50%;
	top:50%;
	transform: translateX(-50%)  translateY(-50%);
	width:300px;
	height: 300px;
}
.img-cont{
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index: 200;	
	border-radius:3px;
	overflow: hidden;
}
.buts{
	position: absolute;
	top:102%;
	text-align: center;
	width: 100%;
}
.but{
	border-radius: 1px;
	border: 1px solid white;
	color:white;
	cursor: pointer;
	width: 30px;
	height: 25px;
	display:inline-block;
}
.but:hover{
	background-color: white;
	color:black;
}
.but.ok{
	width: auto;
	padding: 5px;
	font-size: 9px;
}